@import "~nytpi-sass-utils";
@import "~nytpi-sass-utils/size-class";
@import "~nytpi-sass-utils/font-size";

@include set-pspx-ratio(1);

/////////////////////////////
// Write your styles here! //
/////////////////////////////

article[id='story']{
    picture{
        overflow: hidden !important;
    }

    div[data-slick-index]{
        outline: none;
    }
}

html{
    /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%;

    /* fix font family display error on different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.PaidPostArticle {
    padding: 0;
}





// Make sure this is the last line of the file.
@include set-pspx-ratio(2);
