@import "compass/reset";
@import "compass/css3";
@import "reset";
@import "mixin";

h1{
    font-size: 20px;
}
html{
    font-size: 1vw;
}

body{
    text-align: center;
}

.preload{
    display: inline-block;
    width: 100px;
}

.container{
    width: 10rem;
    height: 30rem;
    background-color: blue;
}

$colors: red, yellow, blue, green, purple;
.slider{
    display: inline-block;

    li{
        width: 300px;
        height: 200px;
        font-size: 5rem;

        @for $i from 1 through length($colors){
            &:nth-child(#{$i}){
                background-color: nth($colors, $i);
            }
        }
    }
}

.indicator{
    margin: 10px auto;

    li{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: blue;
        margin: 0 5px;

        @include border-radius(50%);

        &.active{
            background-color: green;
        }
    }
}
