@import "compass/reset";
@import "compass/css3";
@import "reset";
@import "mixin";


html{
    font-size: 1vw;
}

body{
    text-align: center;
}

.container{
    width: 10rem;
    height: 30rem;
    background-color: blue;
}
.preload{
    width: 100px;
}

$colors: red, yellow, blue, green, purple;
.slider{
    display: inline-block;

    .slider-item{
        width: 50rem;
        height: 10rem;
        font-size: 5rem;

        @for $i from 1 through length($colors){
            &:nth-child(#{$i}){
                background-color: nth($colors, $i);
            }
        }
    }
}
