@import "compass/reset";
@import "compass/css3";

html{
    font-size: 1vw;
}

.container{
    width: 10rem;
    height: 20rem;
    background-color: blue;
}

$colors: red, yellow, blue, green, orange;
.slider{
    .slider-item{
        width: 20rem;
        height: 10rem;

        @for $i from 1 through length($colors){
            &:nth-child(#{$i}){
                background-color: nth($colors, $i);
            }
        }
    }
}
