@import "../vendors/lesshat/build/lesshat.less";
@import "../vendors/bootstrap/less/bootstrap.less";

#dv{
	width: 200px;
	height: 200px;
	.border-radius(50%);
	text-align: center;
	background-color: red; 
}