@import "~nytpi-sass-utils/size-class";
@import "~nytpi-sass-utils/font-size";
@import "~nytpi-sass-utils/media-vw";

@include set-pspx-ratio(2);

$desktop-width: 1280px;
$compact-breakpoint-width: 540px;

$root-font-size-regular: 54;
$root-min-font-size-regular: 40;
$root-font-size-compact: 36;
$root-min-font-size-regular-breakpoint: $root-min-font-size-regular / $root-font-size-regular * $desktop-width;
$root-min-font-size-compact-breakpoint: $root-font-size-compact / $root-min-font-size-regular * $compact-breakpoint-width;
$root-padding-x: 120;
$root-padding-top: 110;
$root-padding-bottom: 110;
$root-background-image-opacity: 0.75;

$footer-text-font-size-regular: 54;
$footer-text-line-height-regular: 72;
$footer-text-width-regular: 1144;
$footer-text-margin-left-regular: 98px;
$footer-text-margin-bottom-regular: 36;

$cta-button-font-size-regular: 42;
$cta-button-line-height-regular: 100;
$cta-button-letter-spacing: 0.08em;
$cta-button-min-line-height-regular: 40;
$cta-button-padding-x-regular: 54;
$cta-button-border-radius: 16;
$cta-button-min-font-size-regular: 36;

$logo-small-size: 36;
$logo-medium-size: 50;
$logo-large-size: 64;
$logo-landscape-alternate-dimension-scale-factor: 10;
$logo-small-alternate-dimension-size: $logo-small-size * $logo-landscape-alternate-dimension-scale-factor;
$logo-medium-alternate-dimension-size: $logo-medium-size * $logo-landscape-alternate-dimension-scale-factor;
$logo-large-alternate-dimension-size: $logo-large-size * $logo-landscape-alternate-dimension-scale-factor;

/* Background Image */
.background-image {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Regular Min Font Size */
.post-footer {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	background-color: #000;
	overflow: hidden;
	position: relative;
	margin: 0 0;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400;
	@include full-bleed;
	@include size-class(all-desktop) {
		@include font-size($root-font-size-regular, vw, $root-min-font-size-regular) {
			//2.88em 4.6875em 3.9em 3.25em
			
			//padding left and right unclear how to translate ($root-padding-x / $desktop-width * 100%)
			line-height: em($footer-text-line-height-regular);
		}
		@include size-class(tablet-portrait) {
			@include font-size($root-min-font-size-regular, em, $root-min-font-size-regular) {
				line-height: em(52);
			}
		}

		@include size-class(compact) {
			@include font-size($root-font-size-compact, em, $root-font-size-compact) {
				line-height: em(48);
			}
		}
	}
}

.footer-container {
	position: relative;
	z-index: 2;
	padding-top: em($root-padding-top);
	padding-bottom: em($root-padding-bottom);
	&.center {
		text-align: center;
		.footer-text {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.cta-button {
			text-align: center;
			margin-left: auto;
		}
		.logo-container {
			@include size-class(tablet-portrait) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				background-position: center;
				margin-top: em(40);
			}
		}
	}
  	@include size-class(compact){
	    text-align: center;
  	}
}

.footer-text {
	color: #fff;
	font-family: "Source Sans Pro";
	margin: 0 ($footer-text-margin-left-regular / $desktop-width * 100%) em(19);
	@include size-class(regular) {
		max-width: span(6);
		@include size-class(tablet-portrait) {
			max-width: span(4) + gutter();
		}
	}
	@include size-class(compact) {
		max-width: span(4);
	}
}


.cta-button {
	color: #000;
	background-color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-left: ($footer-text-margin-left-regular / $desktop-width * 100%);
	position: relative;
	z-index: 1;
	@include size-class(all-desktop) {
		@include font-size($cta-button-font-size-regular, vw, $cta-button-font-size-regular) {
			line-height: em($cta-button-line-height-regular);
			padding: 0 em($cta-button-padding-x-regular);
			border-radius: em($cta-button-border-radius);
			letter-spacing: $cta-button-letter-spacing;
		}
		@include size-class(tablet-portrait) {
		    @include font-size($cta-button-min-font-size-regular, vw, $cta-button-min-font-size-regular) { 
		    	line-height: em(96);
		    }
		}
	  	@include size-class(compact) {
		    margin: 0;
		}
	}

}



.logo-container {
	background-repeat: no-repeat;
	background-position: right bottom;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	right: 0;
	bottom: em($root-padding-bottom);
	&.landscape {
		background-size: auto 100%;
		&.small {
			min-height: px($logo-small-size);
			height: em($logo-small-size);
			min-width: px($logo-small-alternate-dimension-size);
			width: em($logo-small-alternate-dimension-size);
		}
		&.medium {
			min-height: px($logo-medium-size);
			height: em($logo-medium-size);
			min-width: px($logo-medium-alternate-dimension-size);
			width: em($logo-medium-alternate-dimension-size);
		}
		&.large {
			min-height: px($logo-large-size);
			height: em($logo-large-size);
			min-width: px($logo-large-alternate-dimension-size);
			width: em($logo-large-alternate-dimension-size);
		}
	}

	&.portrait {
		background-size: 100% auto;
		&.small {
			min-width: px($logo-small-size);
			width: em($logo-small-size);
			min-height: px($logo-small-alternate-dimension-size);
			height: em($logo-small-alternate-dimension-size);
		}
		&.medium {
			min-width: px($logo-medium-size);
			width: em($logo-medium-size);
			min-height: px($logo-medium-alternate-dimension-size);
			height: em($logo-medium-alternate-dimension-size);
		}
		&.large {
			min-width: px($logo-large-size);
			width: em($logo-large-size);
			min-height: px($logo-large-alternate-dimension-size);
			height: em($logo-large-alternate-dimension-size);
		}
	}
	@include size-class(tablet-portrait) {
		margin-top: em(40);
	}

	@include size-class(compact){
		position: static;
		min-width: 0 !important;
		margin: em(48) auto em(0);
		background-position: center;
	}
}