@import "~nytpi-sass-utils/size-class";

%PaidPostArticle {
  @include init-size-class-config();
  //@include _size-class-apply-outer-margin-to-element(padding);
  @include size-class(desktop to tablet-landscape);
  @include size-class(tablet-portrait);
  @include size-class(mobile-portrait);

  @include size-class-container();

  &.debug {
    &, * {
      outline: 1px solid blue;
    }
  }

  // Tell WebKit to disable automatic text size adjust behavior, but still allow user-initiated zoom.
  // http://blog.55minutes.com/2012/04/iphone-text-resizing/
  -webkit-text-size-adjust: 100%;
}

.PaidPostArticle-Lato {
  @extend %PaidPostArticle;
  font-family: "Lato", sans-serif;
}

.PaidPostArticle-SourceSansPro {
  @extend %PaidPostArticle;
  font-family: "Source Sans Pro", sans-serif;
}

.PaidPostArticle-Roboto {
  @extend %PaidPostArticle;
  font-family: "Roboto", sans-serif;
}

.PaidPostArticle-OpenSans {
  @extend %PaidPostArticle;
  font-family: "Open Sans", sans-serif;
}

.PaidPostArticle-system {
  @extend %PaidPostArticle;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
